@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
	font-family: "Raleway", sans-serif;
}

main {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 500px 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
}

main #quote-box {
	background-color: white;
	border-radius: 5px;
	grid-row: 2 / 3;
  	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 80px 70px;
}

main #quote-box #quote-text {
	grid-row: 1 / 2;
	display: flex;
	align-items: top;
	justify-content: center;
	text-align: center;
	margin: 5% 5% 5% 5%;
}

main #quote-box #quote-text #text {
	font-size: 1.6em;
	font-weight: bold;
}

main #quote-box #quote-text #text span {
	font-size: 1.1em;
	opacity: .5;
	margin-right: 5%;
}

main #quote-box #author-text {
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-end;
}

main #quote-box #author-text #author {
	font-size: 1.2em;
	margin-right: 10%;
}


main #quote-box #button-block {
	grid-row: 3 / 4;
	display: flex;
	justify-content: center;
}

main #quote-box #button-block a {
	border-radius: 5px;
	width: 38px;
	height: 38px;
	cursor: pointer;
	color: #ffffff;
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main #quote-box #button-block a:hover {
	opacity: .5;
}

main #quote-box #button-block button {
	height: 38px;
	border: none;
	background-color: #ffffff;
	color: #ffffff;
	padding: 0px 15px 0px 15px;
	border-radius: 5px;
	margin-left: 42%;
	cursor: pointer;
	margin-bottom: 5%;
}

main #quote-box #button-block button:hover {
	opacity: .5;
}